@font-face {
  font-family: "Misterhoney";
  src: url("fonts/MISTERHONEY\ Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Hultog";
  src: url("fonts/Hultog.ttf") format("truetype");
  font-weight: 400;
}

* {
  margin: 0;
}
html,
body {
  margin: 0;
  background-position: center top;
  background-image: url(./assets/texture-2.svg);
}

header {
  padding: 48px;
  font-size: 24px;
  font-family: Misterhoney;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #551f00;
}
.section-content {
  font-family: Hultog;
  font-size: 18px;
  /* margin-top: 64px; */
  padding: 64px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  text-align: center;
  max-width: 300px;
  color: #250d00;
}

#address {
  text-align: center;
  font-size: 24px;
  color: #250d00;
}

.image-direction {
  max-width: 300px;
  min-width: 250px;
  height: 200px;
  object-fit: cover;
}
